absl-py==1.4.0
accelerate==0.18.0
addict==2.4.0
aiofiles==23.1.0
aiohttp==3.10.11
aiosignal==1.3.1
albumentations==1.3.0
alembic==1.16.2
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
astroid==3.3.10
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
autopep8==2.3.2
bcrypt==4.3.0
beautifulsoup4==4.12.0
black==24.3.0
bleak==0.22.3
blinker==1.9.0
boto3==1.38.42
botocore==1.38.42
braceexpand==0.1.7
cachetools==5.3.0
certifi==2024.7.4
cffi==1.17.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
controlnet-aux==0.0.1
coverage==7.9.1
cryptography==44.0.1
cssselect==1.2.0
cycler==0.10.0
dataclasses-json==0.5.7
decorator==5.1.1
diffusers==0.14.0
dill==0.4.0
distlib==0.3.6
dnspython==2.6.1
docker==6.0.1
duckduckgo-search==2.8.6
ecdsa==0.19.1
einops==0.6.0
entrypoints==0.4
exceptiongroup==1.1.1
fastapi==0.92.0
ffmpy==0.3.0
filelock==3.10.7
flake8==6.0.0
Flask==3.1.1
flask-cors==6.0.1
flatbuffers==23.3.3
fonttools==4.58.4
frozenlist==1.3.3
fsspec==2023.3.0
ftfy==6.1.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.82.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-search-results==2.4.2
googleapis-common-protos==1.59.0
gradio==3.20.1
greenlet==2.0.2
grpcio==1.73.1
gTTS==2.3.1
gunicorn==23.0.0
h11==0.16.0
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
huggingface-hub==0.13.3
humanfriendly==10.0
identify==2.5.22
idna==3.7
imageio==2.27.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.1.0
importlib_resources==6.5.2
iniconfig==2.0.0
invisible-watermark==0.1.5
isort==5.12.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.3.2
kornia==0.6.11
langchain==0.2.5
langflow==0.0.45
lazy_loader==0.2
lightning-utilities==0.8.0
linkify-it-py==2.0.0
lmdb==1.4.0
loguru==0.7.0
lxml==4.9.2
Mako==1.3.10
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.9.4
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.1
multidict==6.0.4
mypy==1.16.1
mypy-extensions==1.0.0
networkx==3.0
nodeenv==1.7.0
numpy==1.24.2
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.14.1
openai==0.27.2
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
orjson==3.9.15
outcome==1.2.0
packaging==25.0
paho-mqtt==2.1.0
pandas==1.5.3
paramiko==3.5.1
passlib==1.7.4
pathspec==0.11.1
pdoc==15.0.4
pillow==11.2.1
pinecone-client==2.2.1
platformdirs==3.2.0
playsound==1.2.2
pluggy==1.6.0
pre-commit==3.2.2
prettytable==3.6.0
protobuf==4.25.8
psutil==7.0.0
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==1.10.13
pydeck==0.8.0
pydub==0.25.1
pyflakes==3.0.1
Pygments==2.14.0
pylint==3.3.7
Pympler==1.0.1
PyMySQL==1.1.1
PyNaCl==1.5.0
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-CoreBluetooth==10.3.2
pyobjc-framework-libdispatch==10.3.2
pyparsing==2.4.7
pyrsistent==0.19.3
pyserial==3.5
PySocks==1.7.1
pytest==8.4.1
pytest-asyncio==1.0.0
pytest-benchmark==4.0.0
pytest-cov==6.2.1
pytest-integration==0.2.3
pytest-mock==3.14.1
python-can==4.5.0
python-dateutil==2.8.2
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.18
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0.2
qudida==0.0.4
readability-lxml==0.8.1
redis==4.5.4
regex==2023.3.23
requests==2.32.4
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.3.3
rsa==4.9
ruff==0.12.0
s3transfer==0.13.0
safetensors==0.3.0
scikit-image==0.20.0
scikit-learn==1.5.0
scipy==1.9.1
selenium==4.8.3
semver==2.13.0
sentencepiece==0.1.97
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sourcery==1.2.0
SQLAlchemy==1.4.54
starlette==0.40.0
streamlit==1.37.0
sympy==1.11.1
tb-nightly==2.13.0a20230330
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
test-tube==0.7.5
threadpoolctl==3.1.0
tifffile==2023.3.21
tiktoken==0.3.3
timm==0.6.13
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.3
toolz==0.12.0
tornado==6.5
tqdm==4.67.1
transformers==4.50.0
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.13.0
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.14.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.20.0
validators==0.20.0
virtualenv==20.26.6
wcwidth==0.2.6
webdataset==0.2.48
webdriver-manager==3.8.6
websocket-client==1.5.1
websockets==10.4
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yapf==0.32.0
yarl==1.8.2
zipp==3.19.1
